/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
}


.full-width {
  width: 100%;
}

.main-card {
  min-width: 120px;
  margin: 20px auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.right-submit-button {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

textarea {
  // Override material
  resize: none !important;
}